{% extends 'basic.html '%}
{% load static %}
{% block content %}
<section>
 <div class="m-0 newbreadcrumb p-10">
    <ul class="breadcrumb1">
      <li>
        <a href="/index">Home</a>
      </li>
      <li class="activee">Research Projects</li>
    </ul>
  </div>
    <div class="container">
            <div class="col-md-12 p-xs-0">
                    <a href="/upcomingevents"
                class="btn btn-theme-colored2 btn-sm ar-bt-margin"> {{post.get_category_display}}</a>
                <a href="/upcomingevents"
                class="btn btn-theme-colored2 btn-sm ar-bt-margin"> {{post.get_subcategory_display}}</a>

                    <h4 class="p1 pt-10">{{post.title}}</h4>
                    <h4>Project by: {{post.author}}</h4>
                    <p class="text-gray pb-10 pt-10 text-justify ">{{post.description}}</p>
                    {% if post.file %}
                     <a href="{{item.file.url}}" download>
             <h5 class="btn btn-default btn font-14 mt-10">Download</h5></a>
                    {% endif %}
            </div>
    </div>
</section>
{% endblock %}