{% extends 'basic.html '%}
{% load static %}
{% block content %}
<section>
<div class="m-0 newbreadcrumb">
    <h1>Adminstration</h1>
    <ul class="breadcrumb1">
      <li>
        <a href="/index">Home</a>
      </li>
      <li>About
      </li>
      <li class="activee">Adminstration </li>
    </ul>
  </div>
		  <div class="container pt-xs-20">
		  {% for item in direct %}
				<div class="col-md-6 col-sm-6 col-xs-12 director  p-xs-0">
					<div class="col-md-12 pt-xs-5 bg-theme-iec">
					  <h2 class="text-uppercase text-theme-colored ">{{item.designation}}</h2>
					  <div class="double-line-bottom-theme-colored-2"></div>
					  <img class="col-md-4 col-xs-6 pl-0" src="/media/{{item.images}}" alt="photo">
					  <p class="m-10"><span class="kk-bold font-18">{{ item.name}}</span></p>
					 <p class="text-gray text-justify">{{ item.text}}</p>
			  		</div>
           		</div>
{% endfor %}
				<div class="col-md-12 pt-20 ">
					<h2 class="text-uppercase font-weight-600 mt-0 mt-sm-30 title "> <span
                class="text-theme-colored2">Members </span></h2>
					<div class="double-line-bottom-theme-colored-2"></div>
				</div>
				<div class="col-md-12 mb-25">
					{% for item in member %}
					<div class="col-md-4 pl-0 pb-20 col-sm-6 col-xs-6">
						<h4 class="name mt-0 mb-0 kk-bold">{{item.name}}</h4>
						<h5 class="mt-0">{{item.designation}}</h5>
						<p class="mb-0 font-14"><i class="fa fa-map-marker"></i> {{ item.contact}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
	</section>
{% endblock %}