{% load static %}
<div class="pagination-container" >
        <nav >
          <ul class="pagination pagedropdown">
            <li data-page="prev"  >
              <span > Previous <span class="sr-only" >(current)</span></span>
            </li>
            <!--    Here the JS Function Will Add the Rows -->
            <li data-page="next" id="prev">
              <span> Next <span class="sr-only">(current)</span></span>
            </li>
          </ul>
        </nav>
      </div>
    <script type="text/javascript" src="{% static 'pagination/js/js.js' %}"></script>
    <script type="text/javascript">
      getPagination('#myTable');
      //getPagination('.table-class');
      //getPagination('table');
    </script>