/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media (min-width : 768px) and (max-width : 1199px) {
	
	.menuzord-menu > li > a {
    font-size: 14px !important;
	}
	.menuzord-menu > li > a {
    padding: 8px 9px !important;
}
}

/* Small Devices, Tablets */
@media (min-width : 480px) and (max-width : 767px) {
	
	.logo-animation-wrapper {
	    display: block !important;
	    text-align: center !important;
	}

	.logo-animation-wrapper h3 {
	    font-size: 22px !important;
	    text-align: center !important;
	    text-shadow: rgba(0,0,0,.8) 0 1px 8px !important
	}

	.logo-wrapper {
		float: none !important;
	}

	.iec-location {
		display: none !important;
	}

	.logo-animation-wrapper h3 {
    	top: 65px !important;
	}

	.menuzord-responsive {
		position: absolute !important;
	    top: -82px !important;
	    right: -7px !important;
	}

	.header-middle .container {
		padding-top: 10px !important
	}

	/* #wrapper .main-content {
		margin-top: -86px !important;
	} */

	.menuzord .showhide em {
	    background: #fff;
	}

	.iec-logo-section {
		width: 100% !important;
	    display: block !important;
	    text-align: center !important;
	}

	.iec-logo-section h3 {
		width: inherit !important;
	}

	.iec-logo-section .logo-animation-wrapper {
		width: 100% !important;
	}

	.menuzord-responsive .menuzord-menu li .indicator {
	    height: auto !important;
	    border-left: none !important;
	    line-height: 1.7 !important;
	    top: -1px !important;
	}

	.navbar-sticky .menuzord-menu > li > a {
	    color: #32185d!important;
	    text-shadow: none !important
	}

	.navbar-sticky .menuzord-menu > li:hover > a {
	    color: #ffffff !important;
	    text-shadow: none !important
	}

	.menuzord-responsive .menuzord-menu > li {
	    border-top: 1px solid #b9b9b9 !important;
	}

	.menuzord-menu li > a {
	    padding: 0px 0px !important;
	}

	.menuzord-responsive .menuzord-menu > li:first-child > a {
	    border-top: none !important;
	}
	.menuzord-menu > li {
	    padding: 0 !important;
	}

	.menuzord-responsive .menuzord-menu > li > a {
	    padding: 8px 20px !important;
	}

	.navbar-sticky .menuzord-menu > li > a:hover {
	    color: #ffffff !important;
	}

	.navbar-sticky .menuzord-menu > li > ul > li > a:hover {
	    color: #ffffff !important;
	}

	.menuzord-responsive .menuzord-menu > li > ul > li > a {
	    padding: 8px 20px !important;
	}

	.menuzord-menu li ul.dropdown li .indicator {
	    top: 2px !important;
	}

	.menuzord-responsive .menuzord-menu > li > ul > li > ul > li > a {
	    padding: 8px 20px !important;
	}

	.menuzord-responsive .menuzord-menu > li .indicator .fa-angle-down:before {
		content: "\f105" !important;
	}

	.menuzord-responsive .menuzord-menu > li:hover .indicator .fa-angle-down:before {
		content: "\f107" !important;
	}

	.director {
		padding-top: 15px;
    	margin-top: 30px;
    	padding-bottom: 30px;
	}

	.director .maxwidth500 {
		border: 1px solid #32185d !important;
	    padding: 0 !important;
	    border-radius: 10px !important;
	    width: 100px !important;
	}

	.about-blk {
		padding-bottom: 0 !important
	}

	#news {
		padding-top: 40px !important
	}
	#research .container {
		padding-top: 40px !important
	}

	#research .col-md-4 h2 {
		margin-top: 0 !important
	}

	h2 {
		margin-bottom: 0 !important
	}

	#research .container {
		padding-top: 20px !important;
	}
	#faq .container {
		padding-top: 40px !important;
	}

	#faq .accordion-stylished-left-border {
		margin-top: 15px !important;
	}

	#faq .panel-body a {
		color: #32185d !important;
	}

	footer .widget .line-bottom-theme-colored-2:after {
		margin : 0 auto !important;
		left: 0 !important;
		right: 0 !important
	}

	footer .widget {
		text-align: center !important
	}

	footer .brdr-left, footer .explore{
		margin-top: 20px !important
	}
	#header {
	    background: linear-gradient(0deg,transparent,rgba(0,0,0,.8)),linear-gradient(0deg,transparent 80%,rgba(0,0,0,.6)) !important;
	}

	
	.ar-container-pad{
		padding-bottom:30px !important;
		padding-top:30px !important;
	}
	.ar-fafa .ar-fahome{
		padding-left:5px !important;
	}
	.ar-container-top {
		padding-top:0px !important;
		margin-top:-30px !important;
	}
	.ar-phone-none{
		display:none;
	}
	.ar-phone{
	display:block;
	}
	.ar-phone .owl-carousel .owl-nav button {
    top: 50% !important;
	}
	#search label {
		margin-left: 0 !important;
		display: block
	}
	.menuzord-responsive .menuzord-menu li .ar-fahome{
		padding: 8px 8px !important;
	}
	.ar-announcement {
		display:none;
	}
	.ar-search1{
	display:block;
	}
	#extended-search{
		display:none;
	}
}

/* Extra Small Devices, Phones */
@media (min-width : 361px) and (max-width : 479px) {
	
	
	.logo-animation-wrapper {
	    display: block !important;
	    text-align: center !important;
	}

	.logo-animation-wrapper h3 {
	    font-size: 18px !important;
	    text-align: center !important;
	}

	.logo-wrapper {
		float: none !important;
	}

	.iec-location {
		display: none !important;
	}

	.logo-animation-wrapper h3 {
    	top: 65px !important;
	}

	.menuzord-responsive {
		position: absolute !important;
	    top: -82px !important;
	    right: -7px !important;
	}

	.header-middle .container {
		padding-top: 10px !important
	}

	#wrapper .main-content {
		margin-top: -100px !important;
	}

	.menuzord .showhide em {
	    background: #000;
	}

	.iec-logo-section {
		width: 100% !important;
	    display: block !important;
	    text-align: center !important;
	}

	.iec-logo-section h3 {
		width: inherit !important;
	}

	.iec-logo-section .logo-animation-wrapper {
		width: 100% !important;
	}

	.menuzord-responsive .menuzord-menu li .indicator {
	    height: auto !important;
	    border-left: none !important;
	    line-height: 1.7 !important;
	    top: -1px !important;
	}

	.navbar-sticky .menuzord-menu > li > a {
	    color: #32185d !important;
	    text-shadow: none !important
	}

	.navbar-sticky .menuzord-menu > li:hover > a {
	    color: #ffffff !important;
	    text-shadow: none !important
	}

	.menuzord-responsive .menuzord-menu > li {
	    border-top: 1px solid #b9b9b9 !important;
	}

	.menuzord-menu li > a {
	    padding: 0px 0px !important;
	}

	.menuzord-responsive .menuzord-menu > li:first-child > a {
	    border-top: none !important;
	}
	.menuzord-menu > li {
	    padding: 0 !important;
	}

	.menuzord-responsive .menuzord-menu > li > a {
	    padding: 8px 20px !important;
	}

	.navbar-sticky .menuzord-menu > li > a:hover {
	    color: #ffffff !important;
	}

	.navbar-sticky .menuzord-menu > li > ul > li > a:hover {
	    color: #ffffff !important;
	}

	.menuzord-responsive .menuzord-menu > li > ul > li > a {
	    padding: 8px 20px !important;
	}

	.menuzord-menu li ul.dropdown li .indicator {
	    top: 2px !important;
	}

	.menuzord-responsive .menuzord-menu > li > ul > li > ul > li > a {
	    padding: 8px 20px !important;
	}

	.menuzord-responsive .menuzord-menu > li .indicator .fa-angle-down:before {
		content: "\f105" !important;
	}

	.menuzord-responsive .menuzord-menu > li:hover .indicator .fa-angle-down:before {
		content: "\f107" !important;
	}

	.director {
		padding-top: 15px;
    	margin-top: 30px;
    	padding-bottom: 30px;
	}

	.director .maxwidth500 {
		border: 1px solid #32185d !important;
	    padding: 0 !important;
	    border-radius: 10px !important;
	    width: 100px !important;
	}

	.about-blk {
		padding-bottom: 0 !important
	}

	#news {
		padding-top: 40px !important
	}

	#courses .container {
		padding-top: 40px !important
	}

	#research .container {
		padding-top: 40px !important
	}

	#research .col-md-4 h2 {
		margin-top: 0 !important
	}

	h2 {
		margin-bottom: 0 !important
	}

	#research .container {
		padding-top: 20px !important;
	}

	#faq .container {
		padding-top: 40px !important;
	}

	#faq .accordion-stylished-left-border {
		margin-top: 15px !important;
	}

	#faq .panel-body a {
		color: #32185d !important;
	}

	footer .widget .line-bottom-theme-colored-2:after {
		margin : 0 auto !important;
		left: 0 !important;
		right: 0 !important
	}

	footer .widget {
		text-align: center !important
	}

	footer .brdr-left, footer .explore, footer .whether {
		margin-top: 20px !important
	}


	#header {
	    background: linear-gradient(0deg,transparent,rgba(0,0,0,.8)),linear-gradient(0deg,transparent 80%,rgba(0,0,0,.6)) !important;
	}
	.ar-bg-slide .tp-loop-wrap{
	top: -80px !important;
	}
	.ar-container-pad{
		padding-bottom:30px !important;
		padding-top:30px !important;
	}
	.ar-fafa .ar-fahome{
		padding-left:5px !important;
	}
	.ar-container-top {
		padding-top:0px !important;
		margin-top:-30px !important;
	}
	.ar-container-top1 {
		padding-top:0px !important;
	}
	.ar-phone-none{
		display:none;
	}
	.ar-phone{
	display:block;
	}
	.ar-phone .owl-carousel .owl-nav button {
    top: 50% !important;
	}
	#search label {
		margin-left: 0 !important;
		display: block
	}
	.menuzord-responsive .menuzord-menu li .ar-fahome{
		padding: 8px 8px !important;
	}
	.ar-announcement {
		display:none;
	}
	
	.ar-search1{
	display:block;
	}
	#extended-search{
		display:none;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) and (min-width : 320px) {
	
	.logo-animation-wrapper {
	    display: block !important;
	    text-align: center !important;
	}

	.logo-animation-wrapper h3 {
	    /* font-size: 16px !important; */
	    text-align: center !important;
	    text-shadow: rgba(0,0,0,.8) 0 1px 8px !important
	}

	.logo-wrapper {
		float: none !important;
	}

	.iitd-location {
		display: none !important;
	}

	.logo-animation-wrapper h3 {
    	top: 65px !important;
	}

	.menuzord-responsive {
		position: absolute !important;
	    top: -82px !important;
	    right: 0px !important;
	}

	.header-middle .container {
		padding-top: 10px !important
	}

	/* #wrapper .main-content {
		margin-top: -100px !important;
	} */

	.menuzord .showhide em {
	    background: #fff;
	}

	.iec-logo-section {
		width: 100% !important;
	    display: block !important;
	    text-align: center !important;
	}

	.iec-logo-section h3 {
		width: inherit !important;
	}

	.iec-logo-section .logo-animation-wrapper {
		width: 100% !important;
	}

	.menuzord-responsive .menuzord-menu li .indicator {
	    height: auto !important;
	    border-left: none !important;
	    line-height: 1.7 !important;
	    top: -1px !important;
	}

	.navbar-sticky .menuzord-menu > li > a {
	    color: #32185d !important;
	    text-shadow: none !important
	}

	.navbar-sticky .menuzord-menu > li:hover > a {
	    color: #ffffff !important;
	    text-shadow: none !important
	}

	.menuzord-responsive .menuzord-menu > li {
	    border-top: 1px solid #b9b9b9 !important;
	}

	.menuzord-menu li > a {
	    padding: 0px 0px !important;
	}

	.menuzord-responsive .menuzord-menu > li:first-child > a {
	    border-top: none !important;
	}
	.menuzord-menu > li {
	    padding: 0 !important;
	}

	.menuzord-responsive .menuzord-menu > li > a {
	    padding: 8px 20px !important;
	}

	.navbar-sticky .menuzord-menu > li > a:hover {
	    color: #ffffff !important;
	}

	.navbar-sticky .menuzord-menu > li > ul > li > a:hover {
	    color: #ffffff !important;
	}

	.menuzord-responsive .menuzord-menu > li > ul > li > a {
	    padding: 8px 20px !important;
	}

	.menuzord-menu li ul.dropdown li .indicator {
	    top: 2px !important;
	}

	.menuzord-responsive .menuzord-menu > li > ul > li > ul > li > a {
	    padding: 8px 20px !important;
	}

	.menuzord-responsive .menuzord-menu > li .indicator .fa-angle-down:before {
		content: "\f105" !important;
	}

	.menuzord-responsive .menuzord-menu > li:hover .indicator .fa-angle-down:before {
		content: "\f107" !important;
	}
	.director {
		padding-top: 15px;
    	margin-top: 30px;
    	padding-bottom: 30px;
	}

	.director .maxwidth500 {
		border: 1px solid #32185d !important;
	    padding: 0 !important;
	    border-radius: 10px !important;
	    width: 100px !important;
	}

	.about-blk {
		padding-bottom: 0 !important
	}

	#news {
		padding-top: 40px !important
	}

	#research .container {
		padding-top: 40px !important
	}

	#research .col-md-4 h2 {
		margin-top: 0 !important
	}

	h2 {
		margin-bottom: 0 !important
	}

	#research .container {
		padding-top: 20px !important;
	}
	#faq .container {
		padding-top: 40px !important;
	}

	#faq .accordion-stylished-left-border {
		margin-top: 15px !important;
	}

	#faq .panel-body a {
		color: #32185d !important;
	}

	footer .widget .line-bottom-theme-colored-2:after {
		margin : 0 auto !important;
		left: 0 !important;
		right: 0 !important
	}

	footer .widget {
		text-align: center !important
	}

	footer .brdr-left, footer .explore, footer .whether {
		margin-top: 20px !important
	}


	#header {
	    background: linear-gradient(0deg,transparent,rgba(0,0,0,.8)),linear-gradient(0deg,transparent 80%,rgba(0,0,0,.6)) !important;
	}
	.ar-container-pad{
		padding-bottom:30px !important;
		padding-top:30px !important;
	}
	.ar-fafa .ar-fahome{
		padding-left:5px !important;
	}
	.ar-container-top {
		padding-top:0px !important;
		margin-top:-30px !important;
	}
	.ar-phone-none{
		display:none;
	}
	.ar-phone{
	display:block;
	}
	.ar-phone .owl-carousel .owl-nav button {
    top: 50% !important;
	}
	#search label {
		margin-left: 0 !important;
		display: block
	}
	.menuzord-responsive .menuzord-menu li .ar-fahome{
		padding: 8px 8px !important;
	}
	.ar-announcement {
		display:none;
	}
	
	.ar-search1{
	display:block;
	}
	#extended-search{
		display:none;
	}

}

/* Custom, iPhone Retina */
@media (max-width : 319px) {
	
	.ar-container-pad{
		padding-bottom:30px !important;
		padding-top:30px !important;
	}
	.ar-fafa .ar-fahome{
		padding-left:5px !important;
	}
	.ar-container-top {
		padding-top:0px !important;
		margin-top:-30px !important;
	}
	.ar-phone-none{
		display:none;
	}
	.ar-phone{
	display:block;
	}
	.ar-phone .owl-carousel .owl-nav button {
    top: 50% !important;
	}
	#search label {
		margin-left: 0 !important;
		display: block
	}
	.ar-announcement {
		display:none;
	}
	
	.ar-search1{
	display:block;
	}
	#extended-search{
		display:none;
	}

}

}
