{% extends 'basic.html '%}
{% load static %}
{% block content %}
<section>
<div class="m-0 newbreadcrumb">
    <h1>About</h1>
    <ul class="breadcrumb1">
      <li>
        <a href="/index">Home</a>
      </li>
      <li class="activee">About</li>
    </ul>
  </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-justify">
            <div class="row mtli-row-clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  {% for item in introduction %}
                  {% if item.intro %}
				            <p class="text-gray pb-10 pt-10">{{ item.intro }}</p>
                    {% endif %}
                    {% if item.images %}
                    <img src="/media/{{item.images}}" alt="about" class="col-md-6 max-height1 p-10 col-xs-12 ">
                    {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}

