{% extends 'basic.html '%}
{% load static %}
{% block content %}
<section>
<div class="m-0 newbreadcrumb">
    <h1>Announcements</h1>
    <ul class="breadcrumb1">
      <li>
        <a href="/index">Home</a>
      </li>
      <li class="activee">Announcements</li>
    </ul>
  </div>
      <div class="container">
      <div class="container-fluid">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              {% if announce %}
              <ul class="announcementlist">
			  {% for item in announce %}
					<li class="mb-20">
						<div class="info">
							<h4 class="font-17 text-justify">
              {{item.text}}&nbsp;	{% if item.image %} <a href="/media/{{item.image}}" download><i class="fa fa-image" aria-hidden="true"></i> </a>{% endif %}&nbsp;
              {% if item.file %} <a href="/media/{{item.file}}" download>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>{% endif %}
            </h4>
              <p> {{item.pub_date}}</p>
						</div>
					</li>
					{% endfor %}
		  		</ul>
           {% else %}
            <h5>There are no announcements.</h5>
           {% endif %}
            </div>
        </div>
        </div>
</section>
{% endblock %}