{% extends 'basic.html '%}
{% load static %}
{% block content %}
<section>
<div class="m-0 newbreadcrumb">
    <h1>Contact</h1>
    <ul class="breadcrumb1">
      <li>
        <a href="/index">Home</a>
      </li>
      <li class="activee">Contact</li>
    </ul>
  </div>
  <div class="container">
  <div class="row">
                        <div class="col-lg-4 col-md-6  col-sm-4 mb-30">
                                    <h2 class="text-uppercase font-weight-600 mt-0 mt-sm-0 title "> <span class="text-theme-colored2"><i class="fa fa-map-marker"></i> Address </span></h2>
                                    <div class="double-line-bottom-theme-colored-2"></div>
                                    <p class="text-dark"> Government Medical College Institute Connect India, India</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 mb-30">
                                <h2 class="text-uppercase font-weight-600 mt-0 mt-sm-0 title"> <span class="text-theme-colored2"><i class="fa fa-phone"></i> Contact </span></h2>
                                    <div class="double-line-bottom-theme-colored-2"></div>
                                    <p class="text-dark"> Mobile: <span>(+91) - 12345 - 67890</span></p>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 mb-30">
                                <h2 class="text-uppercase font-weight-600 mt-0 mt-sm-0 title "> <span class="text-theme-colored2"><i class="fa fa-envelope-o"></i> Mail </span></h2>
                                    <div class="double-line-bottom-theme-colored-2"></div>
                                    <p class="text-dark"> info@institueconnect.in</span></p>
                        </div>
                        </div>
              <div class="col-md-6 col-sm-6 contact-form">
         <form action="" method="post">{% csrf_token %}
        <div class="form-field">

          <label class="custom-field">
            <input type="text" class="form-control" id="name" name='name' required/>
            <span class="placeholder">Name</span>
          </label>
          <label class="custom-field">
            <input type="text" class="form-control" id="email" name='email' required/>
            <span class="placeholder">Email</span>
          </label>
           <label class="custom-field">
            <input type="text" class="form-control" id="subject" name='subject' required/>
            <span class="placeholder">Subject</span>
          </label>
           <label class="custom-field">
            <textarea type="text" class="form-control msg" name="message" id="message" placeholder="Message" required></textarea>
          </label>
        </div>
        <button class="btn form-btn" type="submit" name="submit"><i class="button__icon fa fa-envelope" name="submit"></i><span> Submit</span></button>
      </div>
              <div class="col-md-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d6249.345033302234!2d-80.02791918555701!3d40.45935344513505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8834f411a7b748bd%3A0xaec8197db3de9a9e!2sCalifornia-Kirkbride%2C+Pittsburgh%2C+PA%2C+USA!3m2!1d40.4600435!2d-80.0213538!5e0!3m2!1sen!2sbd!4v1464270878470" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
</section>
<script>
{% if thanks %}
alert('Thanks for contacting us.');
document.location = "/contact";
{% endif %}
</script>
{% endblock %}
