{% extends 'basic.html '%}
{% load static %}
{% block content %}


<div class="main-content ">
  <div class="slideshow-container0">

    {% for item in slider|slice:":6" %}

    <div class="mySlides0 fadee ">
      <img src="/media/{{item.images}}">
{% if item.caption %}
                <div class="caption1">{{item.caption}}</div>{% endif %}
    </div>
    {% endfor %}
  </div>
  <div>
    <span class="dot0"></span>
    <span class="dot0"></span>
    <span class="dot0"></span>
    <span class="dot0"></span>
    <span class="dot0"></span>
    <span class="dot0"></span>
  </div>
<div>
{% if announce %}
        <div class="row pb-20">
        <div class="col-md-2 col-sm-3 col-xs-4 pr-0">
<p class="ann  pr-sm-0 pl-sm-0 pr-xs-0 pl-xs-0 btn-sm"><a style="color:#fff" href="/announcements">Announcements</a></p></div>
<div class="col-md-10 col-sm-9 col-xs-8 pl-0">
<div class="ticker-wrap">
<div class="ticker">
{% for item in announce %}
  <div class="ticker__item">{{ item.text}}.</div>
  {% endfor %}
  </div>
</div></div></div>
{% endif %}
  <section class="bg-silver-deep">
    <div class="container pb-40 ar-container-pad">
      <div class="section-title">

        <div class="row">
          <div class="col-md-7 pricing-table">
            <h2 class="text-uppercase title"><span class="text-theme-colored2">IEC </span>Guidelines <a href="/guidelines" class="btn btn-theme-colored2 btn-xs ar-bt-margin"> View
                all</a></h2>
            <div class="double-line-bottom-theme-colored-2"></div>

<ul class="list price-list text-left check-circle ">
 {% for item in guide|slice:":4" %}
					<li><a class="text-dark" href="/guidelines">{{item.text}}</a></li>{% endfor %}
                </ul>
          </div>
          <div class="col-md-5">
            <h2 class="text-uppercase font-weight-600 mt-0 mt-sm-30 title events-main"> <span
                class="text-theme-colored2">Upcoming </span>Events <a href="/upcomingevents"
                class="btn btn-theme-colored2 btn-xs ar-bt-margin"> View all</a></h2>

            <div class="double-line-bottom-theme-colored-2"></div>
{% if eve %}
<ul class="event">{% for item in eve|slice:":4" %}
<li class="mb-20">
<div class="col-md-3 col-xs-3 pr-sm-0">
<span class="date">{{item.dateday}}</span>
<span class="month">{{item.month}}</span>
</div>
<div class="col-md-9 col-xs-9">
<p><a href="/upcomingevents" class="font-17 text-dark">{{ item.title }}</a></p>
</div>
<div class="clear"></div></li>
 {% endfor %}
</ul>
{% else %}
       <p>There are no upcoming events.</p>
        {% endif %}

          </div>

        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container pb-70 about-blk section-begin">
      <div class="section-content ar-container-pad">
        <div class="row">

          <div class="col-md-6">
            <h2 class="text-uppercase text-theme-colored mt-0 mt-sm-30">About <span class="text-theme-colored2"></span></h2>
            <div class="double-line-bottom-theme-colored-2"></div>
            {% for item in introduction|slice:":1" %}
            <p class="text-gray text-justify">{{ item.intro|truncatewords:70 }}</p>
            <a href="/about" class="btn btn-default btn-sm">Read more</a>
          </div>
          {% endfor %}
          <div class="col-md-6 director">{% for item in direct|slice:":1" %}
            <div class="col-md-12 bg-theme-iec">
              <a href="/staff">
                <h2 class="text-uppercase text-theme-colored mt-0  mt-sm-0">{{item.designation}}'s<span class="text-theme-colored2">
                    Corner</span></h2>
              </a>
              <div class="double-line-bottom-theme-colored-2"></div>

              <img class="col-md-4 col-xs-6 pl-0" src="/media/{{item.images}}" alt="image">

              <p class="m-0"><span class="kk-bold font-16">{{ item.name}}</span></p>
              <p class="text-gray text-justify">{{ item.text|truncatewords:40}}</p>

              <a href="/staff" class="btn btn-default btn-sm">Read more</a>
            </div>{% endfor %}
          </div>

        </div>
      </div>
    </div>
  </section>

<section  class="bg-silver-deep">
      <div class="container pb-40 ar-container-pad">

        <div class="row text-center">

          <div class="col-sm-3 col-xs-6">
            <a href="/sops" class="icon">
              <div class="icon-box iconbox-border p-15">
                <img class="pt-20" src="{% static 'images/sopsicon.svg' %}" alt="sops">
                <h4 class="icon-box-title kk-lh2 kk-bold text-theme-colored2">SOPs</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-3 col-xs-6">
            <a href="/certificates" class="icon">
              <div class="icon-box iconbox-border p-15">
                <img class="pt-20" src="{% static 'images/agreement-terms.svg' %}" alt="certificates">
                <h4 class="icon-box-title kk-lh2 kk-bold text-theme-colored2">Certificates</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-3 col-xs-6">
            <a href="/synopsis" class="icon">
            <div class="icon-box iconbox-border p-15">
                <img class="pt-20" src="{% static 'images/documents.svg' %}" alt="synopsis">
              <h4 class="icon-box-title kk-lh2 kk-bold text-theme-colored2">Synopsis Projects</h4>
            </div>
          </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="/non-synopsis" class="icon">
            <div class="icon-box iconbox-border p-15">
                <img class="pt-20 iconheight" src="{% static 'images/articles.svg' %}" alt="non-synopsis">
              <h4 class="icon-box-title kk-lh2 kk-bold text-theme-colored2">Non-Synopsis Projects</h4>
            </div>
          </a>
          </div>
        </div>
      </div>
    </section>

  <section id="faq">
    <div class="container pb-50 ar-container-pad">
      <div class="section-content">
        <div class="row">
          <div class="col-md-5">
            <h2 class="mt-0 mt-sm-0 text-left title"><span class="text-theme-colored2">FAQ</span>s <a href="/faq"
                class="btn btn-theme-colored2 btn-xs ar-bt-margin">View all</a></h2>
            </h2>
            <div class="double-line-bottom-theme-colored-2"></div>
            <div
              class="panel-group accordion-stylished-left-border accordion-icon-filled accordion-no-border accordion-icon-left accordion-icon-filled-theme-colored2"
              id="accordion6" role="tablist" aria-multiselectable="true">
              {% for item in faq1|slice:":3" %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headin1">
                  <h6 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion6" aria-expanded="true"
                       class="active collapsed question-link">
                      {{ item.question }}
                    </a>
                  </h6>
                </div>
                <div  class="panel-collapse collapse" role="tabpanel" aria-labelledby="headin1"
                  aria-expanded="true">
                  <div class="panel-body">
                    <p class="text-gray">{{ item.answer }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>

          <div class="col-md-7 ar-fa-color ar-phone-none">
            <h2 class="text-uppercase mt-0 mt-sm-30 title">Photo <span class="text-theme-colored2">Gallery </span><a href="/gallery" class="btn btn-theme-colored2 btn-xs ar-bt-margin">View all</a></h2>
            <div class="double-line-bottom-theme-colored-2"></div>
            <div class="gallery-isotope default-animation-effect grid-4 gutter clearfix" data-lightbox="gallery">
              <!-- Portfolio Item Start -->
              {% for item in photos|slice:":8" %}
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="/media/{{item.images}}" class="img-fullwidth galleryheight">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="/media/{{item.images}}" data-lightbox-gallery="gallery"><i
                            class="fa fa-search-plus"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4 ar-phone">
            <a href="/gallery">
              <h2 class="text-uppercase mt-0 mt-sm-30 title">Photo <span class="text-theme-colored2">Gallery </span><a href="/gallery" class="btn btn-theme-colored2 btn-xs ar-bt-margin">View all</a></h2>
            </a>
            <div class="double-line-bottom-theme-colored-2"></div>
            <div class="owl-carousel-1col" data-dots="true" data-nav="true">
              {% for item in photos %}
              <div class="item"><img src="/media/{{item.images}}" alt=""></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <script>
    var slideIndex = 0;
    showSlides();
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides0");
      var dots = document.getElementsByClassName("dot0");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active0", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active0";
      setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
  </script>
{% endblock %}

