{% extends 'basic.html '%}
{% load static %}
{% block content %}
<section>
<div class="m-0 newbreadcrumb">
    <h1>Upcoming Events</h1>
    <ul class="breadcrumb1">
      <li>
        <a href="/index">Home</a>
      </li>
      <li>Events
      </li>
      <li class="activee">Upcoming Events</li>
    </ul>
  </div>
    <div class="container">
        <div class="container-fluid">
                {% if eve %}
                      <ul class="event ">{% for item in eve %}
<li class="mb-10 border pt-10 pb-10">
<div class="col-md-1 col-xs-3 pr-sm-0 pr-xs-0">
<span class="date">{{item.dateday}}</span>
<span class="month">{{item.month}}</span>
</div>
<div class="col-md-11 col-xs-9">
<p><a href="" class="font-17  text-justify text-dark">{{ item.title }}</a></p>
<p class="text-justify">{{item.description}}</p>
<div><span>
                                    <i class="fa fa-map-marker " aria-hidden="true"></i>
                                    {{item.venue}}&nbsp;
                                </span>
                               {% if item.time %}
                                <span>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{item.time}}
                                </span>
                                {% else %}
                                   <span style="display:none;"></span>

                            {% endif %}
                            </div>
</div>

<div class="clear"></div></li>
 {% endfor %}
</ul>
                         {% else %}
                         <p>There are no upcoming events.</p>
                         {% endif %}
               </div>
         </div>
    </div>
</section>
{% endblock %}